ul {
  list-style: none;
}
.nav-el {
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.header {
  padding: 0 60px;
  align-items: center;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.search {
  flex: 1;
  margin: 0 10px;
}

.search input {
  background-color: rgb(224, 224, 224);
  border-radius: 20px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons span {
  margin: 0 5px;
}

.auth {
  width: 100px;
  text-align: center;
}

.auth button {
  width: 125%;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.fixed-header nav {
  padding: 10px;
}

.fixed-header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fixed-header nav ul li {
  padding: 10px;
}

.fixed-header nav ul li .nav-el {
  text-decoration: none;
  color: #333;
}

.fixed-header nav ul li.special-offer .nav-el {
  color: red;
}

.content {
  padding-top: 60px;
  padding: 20px;
}
.heart-div {
  position: relative;
}
.count {
  position: absolute;
  bottom: 0;
  right: 0;
}
.user-icon {
  display: none;
}
@media (max-width: 900px) {
  .phone-number {
    display: none;
  }
  .header {
    padding: 5px;
  }
  .user {
    display: none;
  }
  .user-icon {
    display: block;
  }
}
